<h2>{{ 'returnBook.title' | translate }}</h2>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th> {{ 'books.bookId' | translate }} </th>
            <th> {{ 'history.issueDate' | translate }} </th>
            <th> {{ 'history.returnDate' | translate }} </th>
            <th> {{ 'returnBook.overdueDate' | translate }} </th>
            <th> {{ 'returnBook.action' | translate }} </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of borrow">
            <td> {{ b.bookId }} </td>
            <td> {{ b.issueDate }} </td>
            <td> {{ b.returnDate }} </td>
            <td> {{ b.dueDate }} </td>
            <td>
                <div *ngIf="b.returnDate === null">
                    <button (click) = "returnBook(b.borrowId)" class="btn btn-success"> {{ 'returnBook.return' | translate }} </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
