<h2>{{ 'users.title' | translate }}</h2>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th> {{ 'users.userId' | translate }} </th>
            <th> {{ 'users.name' | translate }} </th>
            <th> {{ 'users.username' | translate }} </th>
            <th> {{ 'users.role' | translate }} </th>
            <th> {{ 'users.viewHistory' | translate }} </th>
            <th> {{ 'users.editUser' | translate }} </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td> {{ user.userId }} </td>
            <td> {{ user.name }} </td>
            <td> {{ user.username }} </td>
            <td> {{ user.role && user.role.length ? user.role[0].roleName : '—' }} </td>
            <td>
                <button (click) = "userDetails(user.userId)" class="btn btn-success"> {{ 'users.view' | translate }} </button>
            </td>
            <td>
                <button (click) = "updateUser(user.userId)" class="btn btn-info"> {{ 'users.edit' | translate }} </button>
            </td>
        </tr>
    </tbody>
</table>
