<div class="container col-md-6 offset-mid-3">
    <h3 class="text-center"> {{ 'updateUser.title' | translate }} </h3>
    <form (ngSubmit) = "onSubmit()" #userForm="ngForm" autocomplete="off">

        <div class="form-group">
            <label for="name" style="margin-bottom: 10px"> {{ 'registration.name' | translate }} </label>
            <input type="text" class="form-control" style="margin-bottom: 10px" id="name" [(ngModel)] = "user.name" name="name" required minlength="2" #name="ngModel">
            <div *ngIf="name.invalid && name.touched" class="text-danger">
                {{ 'validation.name_required' | translate }}
            </div>
        </div>

        <div class="form-group">
            <label for="username" style="margin-bottom: 10px"> {{ 'registration.username' | translate }} </label>
            <input type="text" class="form-control" style="margin-bottom: 10px" id="username" [(ngModel)] = "user.username" name="username" required minlength="3" #username="ngModel">
            <div *ngIf="username.invalid && username.touched" class="text-danger">
                {{ 'validation.username_required' | translate }}
            </div>
        </div>

        <div class="form-group">
            <label for="role" style="margin-bottom: 10px"> {{ 'registration.role' | translate }} </label>
            <select class="form-select" style="margin-bottom: 10px" id="role" [(ngModel)]="selectedRole" name="role" required>
                <option value="Admin">Admin</option>
                <option value="User">User</option>
            </select>
        </div>

        <button class="btn btn-success" type="submit" [disabled]="userForm.invalid"> {{ 'form.submit' | translate }} </button>
    </form>
</div>
