<h2>{{ 'books.title' | translate }}</h2>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th> {{ 'books.bookId' | translate }} </th>
            <th> {{ 'books.name' | translate }} </th>
            <th> {{ 'books.author' | translate }} </th>
            <th> {{ 'books.genre' | translate }} </th>
            <th> {{ 'books.copies' | translate }} </th>
            <th> {{ 'books.actions' | translate }} </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td> {{ book.bookId }} </td>
            <td> {{ book.bookName }} </td>
            <td> {{ book.bookAuthor }} </td>
            <td> {{ book.bookGenre }} </td>
            <td> {{ book.noOfCopies }} </td>
            <td>
                <button (click) = "bookDetails(book.bookId)" class="btn btn-success"> {{ 'books.view' | translate }} </button>
                <button (click) = "updateBook(book.bookId)" class="btn btn-info"  style="margin-left: 10px"> {{ 'books.edit' | translate }} </button>
                <button (click) = "deleteBook(book.bookId)" class="btn btn-danger" style="margin-left: 10px"> {{ 'books.delete' | translate }} </button>
            </td>
        </tr>
    </tbody>
</table>
